<table class="table">
	<th>ETA</th>
	<th>CUSTOMER_FN</th>
	<th>CUSTOMER_LN</th>
	<th>TIMER</th>
	<th>STATUS</th>
	<% @ten_location.each_with_index do |location, index| %>
		<tr>
			<td><%= location.current_eta %></td>
			<td><%= location.dispatcher.first_name %></td>
			<td><%= location.dispatcher.last_name %></td>
			<td id= "timer-<%= index %>">
				<span id="timer-hours-<%= index %>"></span> hr
      	<span id="timer-minutes-<%= index %>"></span> min
      	<span id="timer-sec-<%= index %>"></span> sec
      </td>
      <td>
      	<%= location.status.titleize %>
      </td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">

		var count_secs = []
		var count_minutes = []
		var count_hours = []
		var eta_calc_time = []
		var timer_seconds = []
		var diff_in_sec = []
		var new_time = []
		var intervalIds = []
		var track_status = <%=raw @ten_location.map { |rec| rec.status } %>
		var loop_count = <%= @ten_location.length %>
		var current_eta = <%=raw @ten_location.map { |rec| rec.current_eta } %>
		var next_refresh_time = <%=raw @ten_location.map { |rec| rec.next_refresh_time }  %>
		var refresh_count = <%=raw @ten_location.map { |rec| rec.dispatcher_refresh_count }  %>
		var url_token = <%=raw @ten_location.map { |rec| rec.url_token }  %>
		// console.log(url_token)
	  var eta_calc_time = <%=raw @ten_location.map { |rec| rec.eta_calc_time.strftime('%Y/%m/%d %H:%M:%S %z') } %>
	  var next_refresh_time = <%=raw @ten_location.map { |rec| rec.next_refresh_time } %>
	  var current_eta = <%=raw @ten_location.map {|rec| rec.current_eta } %>

		for(i=0; i<=loop_count-1; i++){
			var currenttime = new Date();
	    set_initial_time(i)
	  }
    var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

    function timer()
    {
      for(i=0; i<=loop_count-1; i++){
      	if(track_status[i] == "terminated" || track_status[i] == "reached" || track_status[i] == "pending"){
		  		$("#timer-"+i).html("-")
		  	}
		  	else{
		      count_secs[i]=count_secs[i]-1;
		      // count_secs[i]=count_secs[i]-1;
		      if (count_secs[i] < 0 && count_secs[i] >= -2)
		      {
		        count_secs[i] = 59;
		        // count_secs[i] = 10;
		        count_minutes[i] = count_minutes[i]-1;
		        // console.log("In sec if : "+ String(count_minutes[i]))
		        if (count_minutes[i] >= 0)
		      		$("#timer-minutes-"+i).html(count_minutes[i]);
		      }
	      	// console.log("minutes : "+ String(count_minutes[i]))
		      if (count_minutes[i] < 0 && count_minutes[i] >= -2)
		      {
		        count_minutes[i] = 59;
		        if (count_hours[i] > 0)
		          $("#timer-minutes-"+i).html(count_minutes[i]);
		        count_hours[i] = count_hours[i]-1;
		        if (count_hours[i] >= 0)
		          $("#timer-hours-"+i).html(count_hours[i]);
		      }
		      if (count_hours[i] < 0 && count_hours[i] >= -2){
		      	count_secs[i] = -2
						count_minutes[i] = -2
						count_hours[i] = -2
						$("#timer-"+i).html("Refreshing...")
						$.ajax({
				      url: '/get_new_time/'+url_token[i],
				      type: 'get',
				      data: {old_refresh_count: refresh_count[i]},
				      success: function (data) {
				        console.log(data)
				        if(data.update == true){
				        	var currenttime = new Date();
				        	eta_calc_time[i] = data.eta_calc_time
				        	current_eta[i] = data.current_eta
				        	next_refresh_time[i] = data.next_refresh_time
				        	set_initial_time(i)
				        }
				        else{
									getNewTime(i);
				        }
			      	}
			      });
		      	// clearInterval(counter);
		      	// refreshInternal();
		      	return;
		      }
		      if(count_secs[i] != -2){
		      	$("#timer-sec-"+i).html(count_secs[i]);
		      }
		    }
	    }
    }

    function getNewTime(i){
    	intervalIds[i] = setInterval(function(){
	    	$.ajax({
		      url: '/get_new_time/'+url_token[i],
		      type: 'get',
		      data: {old_refresh_count: refresh_count[i]},
		      success: function (data) {
		        console.log(data)
		        if(data.update == true){
		        	var currenttime = new Date();
		        	eta_calc_time[i] = data.eta_calc_time
		        	current_eta[i] = data.current_eta
		        	next_refresh_time[i] = data.next_refresh_time
		        	set_initial_time(i)
		        	clearInterval(intervalIds[i])
		        }
	      	}
	      });
	    },5000)
    }

    function set_initial_time(i){
    	eta_calc_time[i] = new Date(eta_calc_time[i]);
	    diff_in_sec[i] = Math.ceil((currenttime - eta_calc_time[i])/1000)
	    // console.log(next_refresh_time)
	    // console.log(next_refresh_time[i])
	    // diff_in_sec[i] = next_refresh_time[i]
	    // console.log(current_eta[i])
	    if (diff_in_sec[i] < 0){
	      timer_seconds[i] = current_eta[i]*60;
	    }else{
	    	if(current_eta[i].between(1,6)){
        	timer_seconds[i] = next_refresh_time[i]
	    	}
	    	else{
	    		timer_seconds[i] = Math.round(((current_eta[i]*60) - diff_in_sec[i])/2);
		      // timer_seconds[i] = diff_in_sec[i];
		    }
	    }
	    // console.log(diff_in_sec)

	    if (timer_seconds[i] > current_eta[i]*60 || timer_seconds[i] < 0 ) {
	      timer_seconds[i] = current_eta[i]*60
	    }
	   //  count_secs[i]=Math.round((timer_seconds[i]%60)/2);
	   //  count_minutes[i]=Math.round((((timer_seconds[i]-count_secs[i])%3600)/60)/2);
	  	// count_hours[i]=Math.round(Math.floor(timer_seconds[i]/3600)/2);
      count_secs[i]=timer_seconds[i]%60;
			count_minutes[i]=((timer_seconds[i]-count_secs[i])%3600)/60;
			count_hours[i]=Math.floor(timer_seconds[i]/3600);
      // console.log("seconds : "+ String(timer_seconds[i]))
	  	// console.log(count_secs[i])
	  	// console.log(count_minutes[i])
	  	// console.log(count_hours[i])
	  	// status[i] = status[i].replace("&quot;", '')
	  	if(track_status[i] == "terminated" || track_status[i] == "reached" || track_status[i] == "pending"){
	  		$("#timer-"+i).html("-")
	  	}
	  	else{
	  		count_secs[9] = 10
	  		count_minutes[9] = 0
	  		// count_secs[5] = 10
	  		// count_minutes[5] = 0
	  		// console.log(count_secs[9])
	  		// console.log(count_minutes[9])
    		// console.log(count_secs[5])
    		// console.log(count_minutes[5])
    		// console.log(count_hours[5])
    		$("#timer-"+i).html('<span id="timer-hours-'+i+'"></span> hr\
      				<span id="timer-minutes-'+i+'"></span> min\
      				<span id="timer-sec-'+i+'"></span> sec')
		  	$("#timer-sec-"+i).html(count_secs[i]);
		    $("#timer-minutes-"+i).html(count_minutes[i]);
		    $("#timer-hours-"+i).html(count_hours[i]);
		  }
    }
</script>