<%= form_for(@location_detail) do |f| %>
  <% if @location_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location_detail.errors.count, "error") %> prohibited this location_detail from being saved:</h2>

      <ul>
      <% @location_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dest_lat %><br>
    <%= f.text_field :dest_lat %>
  </div>
  <div class="field">
    <%= f.label :dest_long %><br>
    <%= f.text_field :dest_long %>
  </div>
  <div class="field">
    <%= f.label :source_lat %><br>
    <%= f.text_field :source_lat %>
  </div>
  <div class="field">
    <%= f.label :source_long %><br>
    <%= f.text_field :source_long %>
  </div>
  <div class="field">
    <%= f.label :eta %><br>
    <%= f.number_field :eta %>
  </div>
  <div class="field">
    <%= f.label :url_token %><br>
    <%= f.text_field :url_token %>
  </div>
  <div class="field">
    <%= f.label :dispatcher_id %><br>
    <%= f.text_field :dispatcher_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
