<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Location Details</h4>
    </div>
    <%= form_tag location_detail_resolve_path, id: 'location_detail' do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 text-right">
              <%= label_tag :street_number %>
              <span class="mandatory">*</span>
            </div>
            <div class="col-md-4">
              <%= number_field_tag :street_number,nil,required: true,class: "required",min: 0 %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 text-right">
              <%= label_tag :street_address %>
              <span class="mandatory">*</span>
            </div>
            <div class="col-md-4">
              <%= text_field_tag :street_address,nil,required: true %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 text-right">
              <%= label_tag :city %>
              <span class="mandatory">*</span>
            </div>
            <div class="col-md-4">
              <%= text_field_tag :city,nil,required: true %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 text-right">
              <%= label_tag :state %>
              <span class="mandatory">*</span>
            </div>
            <div class="col-md-4">
            <% sample_options = [['India', 'India'],['Washigton', 'Washigton'], ['Montana', '2'], ['Alaska', '3'],['New York','New York']] %>
              <%= select_tag :state,options_for_select([['Select...', '']] + sample_options),required: true %>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%= submit_tag "Save" ,:class=>"btn btn-primary"%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>