<center>
  <div class="row">
    <div class="col-xs-12 col-md-5 box">
      <h4>
        <%= @location_detail.dispatcher.full_name %><br>
        ETA is currently <%= @eta_hr %> hours <%= @eta_min %> minutes<br>
        The EST time when ETA was calculated:- <%= @location_detail.eta_calc_time.strftime("%H:%M %p") %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 box">
      <div id="map" style="width: 460 px; height: 300px"></div> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 box" id="next-eta-box">
      <% if @location_detail.is_terminate %>
        The link is terminated.
      <% elsif @is_api_limit_exceed %>
        You have reached the maximum number of real time updates.  Please contact support to authorize more.
      <% else %>
        <h5>Next ETA will be available in :</h5>
        <h3>
          <span id="timer-hours"></span> hours
        	<span id="timer-minutes"></span> minutes
        	<span id="timer-sec"></span> seconds
        </h3>
      <% end %>
    </div>
  </div>
</center>
<script type="text/javascript">
  var map;
  var intl;
  function initMap() {
    <% if current_dispatcher == @location_detail.dispatcher %>
      intl = setInterval(function(){
        if(curr_long){
          clearInterval(intl);
          $('.error').html("");
          initMapContinue();
        }
        else{
          if (!in_function)
            getLocation();
        }
      },1000);
    <% else %>
      initMapContinue();
    <% end %>
  }
  // this will load map
  function initMapContinue(){
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      zoomControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    directionsDisplay.setMap(null);
    directionsDisplay.setMap(map);
    directionsService.route({
      origin: '<%= @source_point %>',
      destination: '<%= @dest_point %>',
      travelMode: google.maps.TravelMode.DRIVING
    }, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  } 
  <% if !@is_terminate && !@is_api_limit_exceed %>
    var currenttime = new Date();
    var eta_calc_time = new Date('<%= @location_detail.eta_calc_time.strftime("%Y/%m/%d %H:%M:%S %z") %>')
    diff_in_sec = Math.ceil((currenttime - eta_calc_time)/1000)
    var timer_seconds = "<%= @location_detail.current_eta*60 %>" - diff_in_sec;
    console.log("<%= @location_detail.eta_calc_time.strftime("%Y/%m/%d %H:%M:%s %z") %>");
    if (timer_seconds > "<%= @location_detail.current_eta*60 %>" || timer_seconds < 0 ) {
      timer_seconds = "<%= @location_detail.current_eta*60 %>";
    }
    var count_secs=timer_seconds%60;
    var count_minutes=((timer_seconds-count_secs)%3600)/60;
  	var count_hours=Math.round(timer_seconds/3600);
    $("#timer-minutes").html(count_minutes);
    $("#timer-hours").html(count_hours);
    $("#timer-sec").html(count_secs);
    var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

    function timer()
    {
      count_secs=count_secs-1;
      if (count_secs <= 0)
      {
        count_secs = 59;
        count_minutes = count_minutes-1;
        if (count_minutes >= 0)
      		$("#timer-minutes").html(count_minutes);
      }
      if (count_minutes < 0)
      {
        count_minutes = 59;
        if (count_hours > 0)
          $("#timer-minutes").html(count_minutes);
        count_hours = count_hours-1;
        if (count_hours >= 0)
          $("#timer-hours").html(count_hours);
      }
      if (count_hours < 0){
      	clearInterval(counter);
      	refreshInternal();
      	return;
      }
      $("#timer-sec").html(count_secs);
    }
    function refreshInternal(){
      $.ajax({
          url: '/refresh_tracking_result/'+'<%= @location_detail.url_token %>',
          type: 'get',
          data: {curr_lat: curr_lat,curr_long: curr_long},
          success: function (data) {
            data
          }
        });
    }
  <% else %>
    <% if @is_terminate %>
      $("#next-eta-box").html("The link is terminated.");
    <% end %>
  <% end %>
</script>