<center>
  <div class="row">
    <div class="col-xs-12 col-md-5 box">
      <h4>
        <%= @location_detail.dispatcher.full_name %><br>
        ETA is currently <%= @eta_hr %> hours <%= @eta_min %> minutes<br>
        The EST time when ETA was calculated:- <%= @location_detail.eta_calc_time.strftime("%H:%M %p") %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div id="map" class="col-xs-12 col-md-5 box">
      <%= image_tag(@location_detail.image_url,class:"img-responsive") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-5 box" id="next-eta-box">
      <% if @location_detail.is_terminate %>
        The link is terminated.
      <% elsif @is_api_limit_exceed %>
        You have reached the maximum number of real time updates.  Please contact support to authorize more.
      <% else %>
        <h5>Next ETA will be available in :</h5>
        <h3>
          <span id="timer-hours"></span> hours
        	<span id="timer-minutes"></span> minutes
        	<span id="timer-sec"></span> seconds
        </h3>
      <% end %>
    </div>
  </div>
  <% if @link_generator %>
    <div class="row">
      <div class="col-xs-12 col-md-5">
          <h4><%= link_to 'Click here to terminate tracking and return to the Dashboard',authenticated_root_path(url_token: @location_detail.url_token), data: { no_turbolink: true } %></h4>
      </div>
    </div>
    <% unless @location_detail.is_terminate || @is_api_limit_exceed %>
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <h3>Backend processing Log</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-5 text-left">
        <% if @res.present? %>
          <% @res.each do |key,val| %>
            <%= "#{key} : #{val}" %><br><br>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</center>
<script type="text/javascript">
  window.onbeforeunload = function () {
    return 'The following action will cause you to lose all displayed data...are you sure you wish to continue?';
  }
  
  <% if !@is_api_limit_exceed %>
    var currenttime = new Date();
    var eta_calc_time = new Date('<%= @location_detail.eta_calc_time.strftime("%Y/%m/%d %H:%M:%S %z") %>');
    diff_in_sec = Math.ceil((currenttime - eta_calc_time)/1000)
    if (diff_in_sec < 0){
      var timer_seconds = "<%= @location_detail.current_eta*60 %>";  
    }else{
      var timer_seconds = "<%= @location_detail.current_eta*60 %>" - diff_in_sec;  
    }
    
    if (timer_seconds > "<%= @location_detail.current_eta*60 %>" || timer_seconds < 0 ) {
      timer_seconds = "<%= @location_detail.current_eta*60 %>";
    }
    var count_secs=timer_seconds%60;
    var count_minutes=((timer_seconds-count_secs)%3600)/60;
  	var count_hours=Math.floor(timer_seconds/3600);
    $("#timer-minutes").html(count_minutes);
    $("#timer-hours").html(count_hours);
    $("#timer-sec").html(count_secs);
    var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

    function timer()
    {
      count_secs=count_secs-1;
      if (count_secs < 0)
      {
        count_secs = 59;
        count_minutes = count_minutes-1;
        if (count_minutes >= 0)
      		$("#timer-minutes").html(count_minutes);
      }
      if (count_minutes < 0)
      {
        count_minutes = 59;
        if (count_hours > 0)
          $("#timer-minutes").html(count_minutes);
        count_hours = count_hours-1;
        if (count_hours >= 0)
          $("#timer-hours").html(count_hours);
      }
      if (count_hours < 0){
      	clearInterval(counter);
      	refreshInternal();
      	return;
      }
      $("#timer-sec").html(count_secs);
    }
    function refreshInternal(){
      $("#next-eta-box").html("Refreshing...");
      setTimeout(function(){
        $.ajax({
          url: '/refresh_tracking_result/'+'<%= @location_detail.url_token %>',
          type: 'get',
          data: {curr_lat: curr_lat,curr_long: curr_long},
          success: function (data) {
            data
          }
        });
      },<%= @time_variation %>);
    }
  <% end %>
</script>